*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/b2.png);
    background-size: cover;
    background-position: center;
}
.ninja{
    width: 100%;
    min-height: 100vh;
    padding: 10px 10%;
    min-height: 100vh;
}
.logo{
    width: 140px;
}
.h2{
    color: whitesmoke;
    margin-right: 600px;
}
.nw{
    color: aqua;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: inline;
    float: right;
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .50s ease;
}
nav ul li a:hover{
    color: aqua;
    padding-right: 10px;
}
.new{
    margin-left: 60px;
    width: 400px;
    border: 1px solid #fff;
    margin-top: 138px;
    float: left;
    border-radius: 50px 20px;
}
.neww{
    margin-left: 250px;
    width: 400px;
    border: 1px solid #fff;
    margin-top: 138px;
    float: left;
    border-radius: 50px 20px;
}
.test{
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 50px 20px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 110px;
    margin-left: 400px; /* Adjust the margin as needed */
    width: 600px;
    word-spacing: 2px;
    line-height: 25px;
}
.kon{
    display: flex;
    align-items: center;
}
.top{
    width: 300px;
    height: 40px;
    background-color: rgb(0, 195, 255);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px 10px;
    margin-left: 88%;
    padding: 10px;
    margin-bottom: 100px;
}
.top:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: 20px;
}
.foot{
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.foot p{
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}
.foo{
    color: #fff;
}